@use "../utils/" as u;

input,
textarea,
button {
    outline: none;
}

.card {
    background-color: var(--color-white);
    padding: u.rem(24);
    border-radius: u.rem(16);
    display: flex;
    flex-direction: column;
    width: min(100%, u.rem(736));

    @include u.breakpoint(small) {
        padding: u.rem(40);
    }

    &__heading {
        color: var(--color-grey-900);
        margin-bottom: u.rem(32);

        @include u.heading;
    }

    &__form {
        display: flex;
        flex-direction: column;

        &--full-name {
            display: flex;
            flex-direction: column;

            @include u.breakpoint(small) {
                flex-direction: row;
                gap: u.rem(16);
            }
        }

        &--input-label {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: u.rem(8);
            color: var(--color-grey-900);

            @include u.body-sm;

            & input {
                height: u.rem(52);
                border-radius: u.rem(8);
                border: 1px solid var(--color-grey-500);
                margin-bottom: u.rem(24);
                padding: u.rem(12) u.rem(24);
            }
        }

        &--query-type {
            border: none;
            display: flex;
            flex-direction: column;
            margin-bottom: u.rem(24);
            gap: u.rem(16);

            @include u.breakpoint(small) {
                flex-direction: row;
            }

            & legend {
                color: var(--color-grey-900);
                margin-bottom: u.rem(8);

                @include u.body-sm;
            }

            & label {
                height: u.rem(52);
                padding: u.rem(12) u.rem(24);
                border: 1px solid var(--color-grey-500);
                border-radius: u.rem(8);
                color: var(--color-grey-900);
                margin-bottom: 0;
                display: flex;
                align-items: center;
                gap: u.rem(12);
                width: 100%;

                @include u.body-md;

                & > input {
                    appearance: none;
                    width: u.rem(20);
                    height: u.rem(20);
                    border: 1px solid var(--color-grey-500);
                    border-radius: 50%;
                }
            }
        }

        &--message {
            display: flex;
            flex-direction: column;
            gap: u.rem(8);
            margin-bottom: u.rem(40);
            color: var(--color-grey-900);

            @include u.body-sm;

            & textarea {
                height: u.rem(240);
                width: 100%;
                border-radius: u.rem(8);
                border: 1px solid var(--color-grey-500);
                padding: u.rem(12) u.rem(24);
                resize: none;

                @include u.breakpoint(small) {
                    height: u.rem(130);
                }
            }
        }

        &--consent {
            display: flex;
            align-items: center;
            gap: u.rem(16);
            margin-bottom: u.rem(40);

            & input {
                appearance: none;
                width: u.rem(20);
                height: u.rem(20);
                border: 1px solid var(--color-grey-500);
                border-radius: 0;
            }
        }

        & button {
            height: u.rem(60);
            background-color: var(--color-green-600);
            border: 1px solid var(--color-green-600);
            border-radius: u.rem(8);
            color: var(--color-white);

            @include u.body-md-bold;
        }
    }
}
